.modal-container {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    place-items: center;
    transition: all 0.2s;
    z-index: 1;
}
  
.modal {    
    min-width: 45rem;
    border-radius: 10px;
    position: absolute;    
    display: flex;
    top: 4rem;
}
.modal-body {     
    width: 100%;
    height: 50rem;
    display: flex;
    flex-direction: column;
    position: relative;
    transition: all 0.3s ease-in-out;
}

.modal-body:hover {
    transform: scale(1.05);
    transition-duration: 200ms;
}

.modal-body:hover > img {
    margin-top: -1.5rem;
    transform: scale(1.15);
    transition-duration: 300ms;
    filter: drop-shadow(1px 3px 0px black);
}

.img_poke {
    width: 22rem;
    margin: 0 auto;    
    z-index: 20;
    transition: all 0.3s ease-in-out;
}

.characteristics {
    background-color: #E42628;
    position: absolute;
    border-radius: 1rem;
    min-height: 37rem;
    padding: 1.5rem;
    width: 100%;
    margin-top: 13rem;
    padding-top: 15px;
    border: 1px solid #42424242;
    box-shadow: 1px 1px 0px #b31e20, 2px 2px 0px #94191b,
        3px 3px 0px #8b181a, 4px 4px 0px #881719,
        5px 5px 0px #751315;
}

.characteristics .id {
    background-color: white;
    border: 1px solid #424242dd;
    width: auto;
    padding: 1rem 1.5rem;
    font-size: 2rem;
    border-radius: 5px;
    display: inline-block;
}

.characteristics .name {
    margin-top: 1rem;
    font-size: 3rem;
    text-transform: capitalize;
    display: block;
    font-weight: 700;    
}

.characteristics .height, .characteristics .weight {
    margin-top: .3rem;
    font-size: 1rem;
    text-transform: capitalize;
    display: block;
}

.stats {  
    margin-top: .3rem;  
    width: 100%;    
}

.stats .stat {
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #070707;
}

.stats .stat .stat__name {
    width: 25%;
    text-transform: capitalize;   
}
.stats .stat .stat__progress{
    width: 65%;   
}

.stats .stat .stat__number {
    width: 10%;
    text-align: end;   
}

.div_type_color {
    display: flex;
    justify-content: space-around;
    margin:0;
}

.div_type_color .color_type {
    border: 1px solid #424242;
    border-radius: 4px;
    text-align: center;
    height: 20px;
    line-height: 17px;
    width: 50px;
    color: white;
}

.div_evolucion {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.div_evolucion .item_evo img {
    width: 10rem;
    transition: all 0.3s ease-in-out;
}

.div_evolucion .item_evo img:hover {
    transform: scale(1.4);
    transition-duration: 200ms;
    z-index: 56;
}

.div_evolucion .item_evo h6 {
    text-align: center;
}